body{
  margin:0;
  padding: 0;
}
section{
  height:100%;
  width:100%;
  background-color: blue;
 box-sizing: border-box;
  overflow:hidden;
  position: absolute;
}
.co{
height:100%;
width:50%;
background:black;
color:blue;
overflow:hidden;

position:absolute;
}
.tir{
  position:absolute;
  top:50%;
  white-space:nowrap;
  font-size: 12em;
  line-height: 220px;
  animation: idr 20s linear infinite;
}
.fir{
  position:absolute;
  top:50%;
  white-space:nowrap;
  font-size: 12em;
  line-height: 220px;
  overflow: hidden;
  animation: idr 20s linear infinite;
}
@keyframes idr {
  0%{
    margit-left:0px;
  }
  100%{
    margin-left:-1000px;
  }
}
